@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Raleway:wght@400;700&family=Roboto+Slab:wght@400;700&display=swap');

:root {
    --yellowLight: rgb(212, 212, 34);
    --yellowDark: #cba108;
    --white: #fff;
    --lightGray: #e5e5e5;
    --gray: #bfbdbd;
    --text: #212529;
    --textLight: #908e8e;
    --transition:.4s ease-in-out;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
    line-height: 1.5;
    color: var(--text);
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Raleway', sans-serif;
}

.headings {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.headings+p {
    font-style: italic;
}

.container-special {
    width: 70%;
    margin: auto;
}

.btn {
    background-color: var(--yellowLight);
    border-color: var(--yellowDark);
    padding: 20px 40px;
} 

.btn:hover {
    background-color: var(--yellowDark);
    transition: var(--transition);
}

/****************
Navigation
****************/
.navbar .navbar-brand {
    font-family: 'Dancing Script', cursive;
    font-size: 1.8rem;
    color: var(--yellowDark);
}

.navbar .navbar-brand:hover {
    color: var(--yellowDark);
}

.navbar .navbar-nav .nav-item .nav-link {
    color: var(--white);
    text-transform: uppercase;
    margin-left: 20px;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: var(--yellowDark);
    transition: var(--transition);
}

/****************
Jumbotron-Header
****************/

.header {
    height: 80vh;
    background-image: url(img/header-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} 

.header .row {
    height: 70vh;
    justify-content: center;
    align-items: center;
}

.header h3 {
    font-style: italic;
    font-size: 2.3rem;
    font-weight: bold;
}

.header h1 {
    font-weight: 900 !important;
}

/****************
Services
****************/

#services .row {
    justify-content: space-around;
}

#services .row:first-child p {
    font-style: italic;
}

#services i.fas {
    color: var(--white);
    font-size: 4.5rem;
    background-color: var(--yellowDark);
    padding: 25px;
    border-radius: 50%;
    margin-bottom: 30px;
}

#services h3 {
    font-weight: 700;
}

#services p {
    color: var(--textLight);
}

/****************
Portfolio
****************/
#portfolio {
    background-color: var(--lightGray);
    padding: 100px 0;
}

#portfolio .card {
    background-color: transparent;
    border: none;
}

#portfolio .card h3 {
    font-weight: 700;
}

#portfolio .card p {
    font-style: italic;
    color: var(--textLight);
    margin-bottom: 30px;
}

#portfolio .card img:hover {
    opacity: .7;
    transition: var(--transition);
    cursor: pointer;
    
}

/****************
About
****************/
.timeline {
    position: relative;
    list-style: none;
    padding: 0;
}

.timeline::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    background-color: var(--lightGray);
    width: 2px;
    content: "";
    margin-left: -1.5px;
}

.timeline>li {
    min-height: 50px;
    position: relative;
    margin-bottom: 50px;
}

.timeline>li::before,
.timeline>li::after {
    display: table;
    content: "";
}

.timeline>li::after {
    clear: both;
}

.timeline>li .timeline-panel {
    position: relative;
    float: right;
    width: 100%;
    text-align: left;
    padding: 0 20px 0 100px;
}

.timeline>li .timeline-image {
    position: absolute;
    z-index: 100;
    left: 0;
    width: 80px;
    height: 80px;
    border: 7px solid #e9ecef;
    border-radius: 50%;
    background-color: #ffc800;
}

.timeline>li .timeline-image h4 {
    font-size: .9rem;
    text-align: center;
    line-height: 1;
    margin-top: 12px;
}

@media(min-width:768px) {
    .timeline::before {
        left: 50%;
    }
    
    .timeline>li {
        min-height: 100px;
        margin-bottom: 100px;
    }
    
    .timeline>li .timeline-panel {
        float: left;
        width: 41%;
        text-align: right;
        padding: 0 20px 20px 30px;
    }
    
    .timeline>li .timeline-panel .timeline-heading h4 {
        font-weight: 700;
    }
    
    .timeline>li .timeline-image {
        width: 170px;
        height: auto;
        left: 50%;
        margin-left: -85px;
    }
    
    .timeline>li.timeline-inverted .timeline-panel {
        float: right;
        text-align: left;
        padding: 0 30px 20px 20px;
    }
    
    .timeline>li.timeline-inverted .timeline-image h4 {
        font-size: 1.4rem;
        line-height: 1.6;
        padding: 10px;
    }
}

/****************
Team
****************/
#team {
    background-color: var(--lightGray);
}

#team img {
    width: 60%;
    height: auto;
    border: 7px solid var(--gray);
}

#team h3 {
    margin-top: 20px;
    font-weight: 700;
}

#team p {
    margin-bottom: 20px;
}

#team a {
    background-color: var(--text);
    color: var(--white);
    font-size: 1.1rem;
    border-radius: 50%;
    padding: 10px 15px;
    margin: 0px 10px 0 10px;
}

#team a:hover {
    opacity: .7;
    transition: var(--transition);
}

/****************
Logos
****************/
.logos .row {
    justify-content: space-between;
    align-items: center;
}

.logos img {
    width: 60%;
    height: auto;
}

/****************
Contact
****************/
#contact {
    background-image: url(img/world-map.jpg);
    text-align: center;
    padding: 100px 0;
}

#contact h2+p {
    color: var(--lightGray);
}

#contact input[type="text"] {
    width: 100%;
    margin-bottom: 23px;
    padding: 20px;
    border-radius: 10px;
}

#contact textarea {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
}

#contact input[type="submit"] {
    text-transform: uppercase;
    background-color: var(--yellowDark);
    color: var(--white);
    padding: 15px 30px;
    border-color: var(--yellowDark);
    border-radius: 5px;
    letter-spacing: 1px;
}

/****************
Footer
****************/
footer .row {
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

footer .row .col-md-4:nth-child(2) a {
    background-color: var(--text);
    color: var(--white);
    border-radius: 50%;
    padding: 10px 14px;
    margin: 0 10px;
}

footer .row .col-md-4:nth-child(3) a {
    color: var(--text);
    text-decoration: none;
}






















